<!DOCTYPE html>
<ids-form submit-button="btn-submit" id="customer-edit-form">
    <ids-layout-grid cols="1" cols-md="2" padding="md">

        <!-- Customer Name -->
        <ids-layout-grid-cell>
            <ids-input id="customerName" type="text" label="Customer Name" readonly="true" [value]="customerName"></ids-input>
        </ids-layout-grid-cell>

         <!-- Mapping Group Name -->
        <ids-layout-grid-cell>
            <ids-input id="mappingGroupName" type="text" label="Mapping Group Name" readonly="true" [value]="mappingGroupName"></ids-input>
        </ids-layout-grid-cell>

        <!-- Active -->
        <ids-layout-grid-cell>
            <ids-checkbox label="Active" 
            [checked]="checked"
            (change)="onUpdate($event)"
            >
        </ids-checkbox>

        </ids-layout-grid-cell>

        <!-- Status -->
        <ids-layout-grid-cell>
            <ids-dropdown id="customer-edit-status" label="Status">
                <ids-list-box>
                    <ids-list-box-option value="blank" id="blank" aria-label="Blank"></ids-list-box-option>
                    <ids-list-box-option id = "status-initiate" value="Initiate">Initiate</ids-list-box-option>
                    <ids-list-box-option id = "status-onGoing" value="Ongoing">Ongoing</ids-list-box-option>
                    <ids-list-box-option id = "status-conclude" value="Conclude">Conclude</ids-list-box-option>
                </ids-list-box>            
            </ids-dropdown>
        </ids-layout-grid-cell>

        <ids-layout-grid>
            <!-- Source Database -->
            <ids-input id="sourceDatabase" type="text" label="Source Database" [value]="" placeholder="[LinkedServer].[Catlog].[Library]"></ids-input>
        </ids-layout-grid>
        <ids-layout-grid>
            <!-- Linked Server -->  
            <ids-input id="linkedServer" type="text" label="Linked Server" [value]="" placeholder="[LinkedServer]."></ids-input>
        </ids-layout-grid>
        </ids-layout-grid>
</ids-form>